.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  a {
    color: #000;
  }
  
  .btn:active {
    transform: scale(0.98);
  }