.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  a {
    color: #000;
  }
  
  .btn:active {
    transform: scale(0.98);
  }

  /* Recipe page */

  img, iframe { 
    max-width: 100%; 
  }

  iframe {
    width: 600px;
    height: 350px;
  }

  .recipePage {
    margin-bottom: 90px;
  }

  .recipePage h5 {
    margin: 2rem 0 1.5rem;
  }
  
  .notFoundImg {
    width: 300px;
    margin: 1% auto;
  }

  /*  #f9a825 yellow darken-3
      #00897b teal darken-1 
  */

  