.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  a {
    color: #000;
  }
  
  .btn:active {
    transform: scale(0.98);
  }

  /* Recipe page */
  img, iframe { 
    max-width: 100%; 
  }

  iframe {
    width: 600px;
    height: 350px;
  }

  .recipePage {
    margin-bottom: 90px;
  }

  .recipePage h5 {
    margin: 2rem 0 1.5rem;
  }

  .recipeImg{
    width: 35%;
    margin-top: 2%;
  }

  /* not found page */
  .notFoundImg {
    width: 300px;
    margin: 1% auto;
  }

/* about page */
  .about {
    background-color: rgba(192, 189, 189, 0.479);
    padding: 2%;
    margin-top: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }


  /*  #f9a825 yellow darken-3
      #00897b teal darken-1 
  */

  